<ion-view title="{{ laboratory.name }}">
    <ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
        <div  class="range" data-tap-disabled="true">
            <input type="range" step="1" min="0" max="200" value="1"
                ng-model="paths.circle.radiusKm" ng-change="radiusConvert()">
                {{ paths.circle.radiusKm }} km
        </div>
    </ion-header-bar>
    <ion-content>
        <leaflet class="leaflet-map" data-tap-disabled="true" tiles="tiles"
            bounds="bounds" geojson="geojson" markers="markers" paths="paths">
        </leaflet>
    </ion-content>
    <!-- TODO change the logic to show/hide the hone button -->
    <ion-footer-bar class="bar-positive" ng-if="data.map.length > 0">
        <h1 class="title" ng-click="openMapModal()">
            {{ 'hone' | translate }}
        </h1>
    </ion-footer-bar>
</ion-view>
