<ion-view title="{{ 'title' | translate }}">
    <ion-content padding="true" class="app-home">
        <div class="list">
            <a class="item item-thumbnail-left"
                ui-sref="tabs.search({key: 'laboratories', search:'', category: ''})">
                <img src="images/magnifier.png">
                <!-- TODO - fix the parameter and add a action to search laboratories-->
                <input type="search"
                    placeholder="{{ 'search' | translate:{items: 'laboratori'} }}" class="ng-pristine ng-valid">
            </a>
            <!-- ui-sref initialze controller twice if url has params undefined -->
            <a class="item item-thumbnail-left"
                ui-sref="tabs.search({key: 'services', search:'', category: ''})">
                <img src="images/service.png">
                <h2>{{ 'service.name' | translate }}</h2>
                <p>{{ 'service.description' | translate }}</p>
            </a>
            <a class="item item-thumbnail-left"
                ui-sref="tabs.search({key: 'instruments', search:'', category: ''})">
                <img src="images/instrument.png">
                <h2>{{ 'instrument.name' | translate }}</h2>
                <p>{{ 'instrument.description' | translate }}</p>
            </a>
            <a class="item item-thumbnail-left" ui-sref="tabs.clustering">
                <img src="images/clustering.png">
                <h2>{{ 'cluster.title' | translate }}</h2>
                <p>{{ 'cluster.text' | translate }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
