<!-- http://codepen.io/calendee/pen/pCwyx -->
<ion-view title="{{ 'instruments' | translate }}">
    <ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="{{ 'instruments_search' | translate }}" ng-change="search()" ng-model="data.search">
        </label>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item 
                ng-repeat="instrument in instruments" 
                href="#/tab/laboratories">
                {{instrument.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
