<ion-view title="{{ 'category' | translate }} {{instrument_category_name}}">
    <ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="{{ 'services_search' | translate }}" ng-change="search()" ng-model="data.search">
        </label>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="service" ng-repeat="instrument in instruments">
                <div class="service-info">{{instrument.instrument_name}}</div>
                <p class="service-descripiton">{{instrument.instrument_description}}</p>
                <div class="laboratory-name"
                    ng-click="openLaboratoryModal({{ instrument.laboratory_id }})">
                    {{instrument.laboratory_name}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
