<ion-view title="{{ 'labs' | translate }}">
    <ips-header-search-directive></ips-header-search-directive>
    <ion-content>
        <!-- map ion-modal-view -->
        <leaflet class="leaflet-map" data-tap-disabled="true" ng-if="mapOn"
                bounds="bounds" center="center" markers="markers">
        </leaflet>

        <!-- laboratories ion-list -->
        <ion-list ng-if="!mapOn">
            <ion-item ng-repeat="laboratory in laboratories" class="laboratory-title">
                <div class="laboratory-title"
                    ng-click="openLaboratoryModal({{laboratory.id}})">{{laboratory.name}}
                </div>
        </ion-list>

    </ion-content>
</ion-view>
