<ion-list ng-if="!mapOn">
    <ion-item class="laboratory-title"
        ng-repeat="laboratory in laboratories | orderBy:'distance'">
        <span class="laboratory-title" ng-click="openLaboratoryModal({{ laboratory.id }})">
            {{ laboratory.name }}
        </span>
        <button class="button button-light button-small icon ion-paper-airplane search-distance"
            ui-sref="tabs.map({id: laboratory.id, routingOn: true})">
            <span class="item-note">{{ laboratory.distance }}km</span>
        </button>
</ion-list>
