<ion-view title="{{ 'labs' | translate }}">
    <ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="{{ 'labs_search' | translate }}" ng-change="search()" ng-model="data.search">
        </label>
        <button class="button button-light">
            Visualizza su mappa
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item
                ng-repeat="laboratory in laboratories"
                class="laboratory-title">
                <div class="laboratory-title"
                    ng-click="openModal({{laboratory.id}})">{{laboratory.name}}
                </div>
        </ion-list>
    </ion-content>
</ion-view>
