<ion-view title="{{ laboratory.name }}">
    <ion-content has-header="true" padding="true">
        <div class="map map-actions">
            <button class="map map-get-direction">{{ 'getDirection' | translate }}</button>
            <button class="map map-get-floor" id="floor-zero" data-img="monserrato-blocco-G-0.png">0</button>
            <button class="map map-get-floor" id="floor-one" data-img="monserrato-blocco-G-1.png">1</button>
        </div>
        <div class="map map-canvas"></div>
    </ion-content>
</ion-view>
