<ion-view title="{{ title | translate }}">
    <ips-header-search></ips-header-search>
    <ion-content>
        <div class="card ips-card">
            {{ results || 0 }} {{ 'results' | translate }}
            <span class="search-words-badge">{{ data.search }}</span>
            <span class="" ng-if="categories.length == 1">
                nella categoria
                <span class="search-words-badge">{{ stateParams.category }}</span>
            </span>
        </div>
        <ng-include src="template.url"></ng-include>
    </ion-content>
    <ion-footer-bar class="bar-stable" ng-if="categories.length > 1">
        <h1 class="title" ng-click="openCategoriesModal({{ 'categories' }})">
            <i class="icon ion-ios-search"></i> {{ 'hone' | translate }} ({{ categories.length }})
        </h1>
    </ion-footer-bar>
</ion-view>
