<ion-view title="{{ title | translate }}">
    <ips-header-search></ips-header-search>
    <ion-content>
        <div class="item item-divider">
            {{ 'results' | translate }}: {{ results || 0 }}
        </div>
        <ng-include src="template.url"></ng-include>
    </ion-content>
    <ion-footer-bar class="bar-assertive" ng-if="categories.length > 1">
        <h1 class="title" ng-click="openCategoriesModal({{ 'categories' }})">
            {{ 'hone' | translate }} ({{ categories.length }})
        </h1>
    </ion-footer-bar>
</ion-view>
