<ion-view title="{{ 'services' | translate }}">
    <ion-content>
        <ion-list>
            <ion-item
                class="service"
                ng-repeat="lab in labs"
                ui-sref="tabs.map({id: lab.id})">
                <div class="service-info">{{lab.serviceInfo}}</div>
                <p class="service-descripiton">{{lab.serviceDescription}}</p>
                <div class="laboratory-name">{{lab.name}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
