<ion-list>
    <ion-item class="row row-center service" ng-repeat="service in services | orderBy:'distance'">
        <div class="col">
            <div class="search-title" ng-click="openServiceModal({{ service }})">
                {{service.service_name}}
            </div>
            <p>{{ service.service_description }}</p>
            <span class="search-laboratory" ng-click="openLaboratoryModal({{ service.laboratory_id }})">
                {{ service.laboratory_name }}
            </span>
            <button class="button button-light button-small icon ion-paper-airplane search-distance"
                ui-sref="tabs.map({id: service.laboratory_id, routingOn: true})">
                <span class="item-note"> {{ service.distance || 100 }}km</span>
            </button>
        </div>
    </ion-item>
</ion-list>
