<!-- http://codepen.io/calendee/pen/pCwyx -->
<ion-view title="Servizi">
    <ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search">
        </label>
        <button class="button button-clear">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <li class="item" ng-repeat="service in services">{{service.name}}</li>
        </div>
    </ion-content>
</ion-view>
