<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">


  <!-- Dashboard Tab -->
  <ion-tab ui-sref="tab.home" title="Home" icon="icon ion-home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Destinations Tab -->
  <ion-tab ui-sref="tab.destinations" title="Destionations" icon="icon ion-heart">
    <ion-nav-view name="container"></ion-nav-view>
  </ion-tab>

</ion-tabs>
