<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{ laboratory.name }}</h1>
        <div class="button button-clear" ng-click="modal.hide()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                {{ laboratory.telephone }}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-university"></i>
                {{ laboratory.ente_name }} <br> {{ laboratory.area_name }}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-home"></i>
                {{ laboratory.sede }} Via ... <!-- TODO - missing sede-->
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{ laboratory.responsabile }} Responsabile ... <!-- TODO - missing Responsabile-->
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-paperplane"></i>
                <a href="{{ laboratory.web_site }}" target="web_site">{{ laboratory.web_site }}</a>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Servizi
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item
                        class="services"
                        ng-repeat="service in services">
                        <div class="service-name">{{service}}</div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">
                Strumenti
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item
                        class="services"
                        ng-repeat="instrument in instruments">
                        <div class="service-name">{{instrument}}</div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">
                Descrizione
            </div>
            <div class="item item-text-wrap">
                {{ laboratory.description }}
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <a class="button button-light"
            ui-sref="tabs.map({id: laboratory.id})"
            ng-click="modal.hide()">
            <i class="ion-ios-navigate"></i>
            Vai al laboratorio
        </a>
        <button class="button button-light"
            ng-click="modal.hide()">
            Torna indietro
        </button>
    </ion-footer-bar>
</ion-modal-view>
