<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{ modal.laboratory.name }}</h1>
        <div class="button button-clear" ng-click="modal.remove()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <ips-lab-card-modal></ips-lab-card-modal>
        <div class="card">
            <div class="item item-divider" ng-click="toggleGroup(modal.services)">
                <i class="icon" ng-class="isGroupShown(modal.services) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
                {{ 'service.name' | translate }}
            </div>
            <div class="item item-text-wrap" ng-show="isGroupShown(modal.services)">
                <ion-list>
                    <ion-item class="services"
                        ng-repeat="service in modal.services | orderBy">
                        <div class="service-name">{{service}}</div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider" ng-click="toggleGroup(modal.instruments)">
                <i class="icon" ng-class="isGroupShown(modal.instruments) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
                {{ 'instrument.name' | translate }}
            </div>
            <div class="item item-text-wrap" ng-show="isGroupShown(modal.instruments)">
                <ion-list>
                    <ion-item class="services"
                        ng-repeat="instrument in modal.instruments | orderBy">
                        <div class="service-name">{{instrument}}</div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider" ng-click="toggleGroup(modal.laboratory.description)">
              <i class="icon" ng-class="isGroupShown(modal.laboratory.description) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
                {{ 'description' | translate }}
            </div>
            <div class="item item-text-wrap" ng-show="isGroupShown(modal.laboratory.description)">
                {{ modal.laboratory.description }}
            </div>
        </div>
    </ion-content>
    <ips-footer-modal></ips-footer-modal>
</ion-modal-view>
