<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="button button-clear" ng-click="modal.hide()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label for="enteName" class="item item-select item-stacked-label">
                <div class="input-label">
                    {{ 'company' | translate }}
                </div>
                <select name="enteName" ng-model="data.enteName">
                    <option value="">{{ 'all' | translate }}</option>
                    <option ng-repeat="ente in enteNames" value="{{ente}}">{{ente}}</option>
                </select>
            </label>
            <label for="provinciaName" class="item item-select item-stacked-label">
                <div class="input-label">
                    {{ 'district' | translate }}
                </div>
                <select name="provinciaName" ng-model="data.provinciaName">
                    <option value="">{{ 'all' | translate }}</option>
                    <option ng-repeat="provincia in provinciaNames" value="{{provincia}}">{{provincia}}</option>
                </select>
            </label>
            <button
                class="button button-block button-positive icon-left ion-search"
                ng-click="researchLaboratories()">
                {{ 'button.search' | translate }}
            </button>
        </div>
    </ion-content>
</ion-modal-view>
