<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Notifiche</h1>
        <div class="button button-clear" ng-click="modal.remove()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <!-- TODO remove hardcoding -->
            <div class="item item-divider">
                Nuovi Laboratori (2)
            </div>

            <a class="item" href="#">
                Laboratorio di Igiene Applicata
            </a>

            <a class="item" href="#">
                Laboratorio di Gastroenterologia
            </a>

            <div class="item item-divider">
                Nuovi Servizi (3)
            </div>

            <a class="item" href="#">
                Analisi di murature in mattoni
            </a>

            <a class="item" href="#">
                Controllo pacometrico
            </a>

            <a class="item" href="#">
                Endoscopia
            </a>

            <div class="item item-divider">
                Nuovi Strumenti (2)
            </div>

            <a class="item" href="#">
                Ago di Vicat
            </a>

            <a class="item" href="#">
                Asse statore
            </a>
        </div>
    </ion-content>
</ion-modal-view>
