<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Notifiche</h1>
        <div class="button button-clear" ng-click="modal.remove()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <!-- TODO remove hard-code: id parameter in openLaboratoryModal method -->
            <div class="item item-divider">
                Laboratori (2)
            </div>
            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Laboratorio di Igiene Applicata
            </a>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Laboratorio di Gastroenterologia
            </a>

            <div class="item item-divider">
                Servizi (3)
            </div>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Analisi di murature in mattoni
            </a>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Controllo pacometrico
            </a>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Endoscopia
            </a>

            <div class="item item-divider">
                Strumenti (2)
            </div>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Ago di Vicat
            </a>

            <a class="item" href="#" ng-click="openLaboratoryModal(144)">
                Asse statore
            </a>
        </div>
    </ion-content>
</ion-modal-view>
