/**
 * Vendors
 */
@import "../lib/ionicons/css/ionicons.min.css";
@import "../lib/leaflet/dist/leaflet.css";
@import "../lib/leaflet.markercluster/dist/MarkerCluster.css";
@import "../lib/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../lib/leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "../lib/leaflet-icon-label/src/Icon.Label.css";

/**
 * Home
 * --------------------------------------------------
 */

.app-home img {
    background: #145fd7;
}
.app-home .list > a > p {
    white-space: normal;
}
.scroll {
    height: 100%;
}

ion-content {
    background-color: #ffffff;
}

object {
    width: 100%;
}

/**
 * Laboratory
 */
div.laboratory-title {
    cursor: pointer;
    white-space: normal;
}

/**
 * Map
 */
.leaflet-map {
    height: 100%;
    width: 100%;
}

/**
 * ion-header-bar
 */
ion-header-bar .range {
    padding-right: 85px;
    width: 100%;
}

/**
 * Service
 */
.service a {
    cursor: pointer;
}

.service div.service-title {
    font-weight: bold;
    cursor: pointer;
}

.service div.laboratory-name {
    cursor: pointer;
    text-decoration: underline;
}

/**
 * Services
 */
.services div.service-name {
    cursor: pointer;
}


/**
 * Instruments
 */
.instruments div.instrument-name {
    cursor: pointer;
}
