/**
 * Map
 * --------------------------------------------------
 */

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

ion-content {
    background-color: #ffffff;
}

object {
    width: 100%;
}

/**
 * Planimetry
 * --------------------------------------------------
 */

svg {
  width: 100%;
  height: 500px;
}

/**
 * Laboratory
 */
div.laboratory-title {
    white-space: normal;
}
.item-content p.laboratory-info {
    white-space: normal;
}

/**
 * Map
 */
div.map.map-canvas {
    height: 100%;
    width: 100%;
    z-index: -1;
}

div.map.map-actions {
    z-index: 1;
}

/**
 * Service
 */
.service div.service-info {
    font-weight: bold;
}

.service div.service-descripiton {
    white-space: normal;
}

.service div.laboratory-name {
    cursor: pointer;
    text-decoration: underline;
}

/**
 * Services
 */
.services div.service-name {
    cursor: pointer;
}


/**
 * Instruments
 */
.instruments div.instrument-name {
    cursor: pointer;
}
