/**
 * Vendors
 */
@import "../lib/ionicons/css/ionicons.min.css";
@import "../lib/leaflet/dist/leaflet.css";
@import "../lib/leaflet.markercluster/dist/MarkerCluster.css";
@import "../lib/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../lib/leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "../lib/leaflet-icon-label/src/Icon.Label.css";
@import "../lib/flag-icon-css/css/flag-icon.min.css";

/**
 * Home
 * --------------------------------------------------
 */

.ips-home.ips-home-description {
    padding-left: 40px;
}
.ips-home.ips-home-description p {
    white-space: normal;
}

.ips-card {
    padding: 15px;
}

.scroll {
    height: 100%;
}

ion-content {
    background-color: #ffffff;
}

object {
    width: 100%;
}

/**
 * Map
 */
.leaflet-map {
    height: 100%;
    width: 100%;
}

/**
 * ion-header-bar
 */
ion-header-bar .range {
    width: 100%;
}

/**
 * Search List
 */
.search-title {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.search-distance {
    float: right;
}
.search-laboratory {
    cursor: pointer;
    text-decoration: underline;
}

.search-words {
    float: right;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0 0 0;
}

.search-words-badge {
    background: #ddd;
    border-radius: 6px;
    margin: 0 3px;
    padding: 2px 4px 2px 6px;
}
