<ion-footer-bar class="bar-positive">
    <a class="button button-light icon ion-android-globe"
        ng-click="changeRoute(); modal.hide()"
        ui-sref="tabs.map({id: modal.laboratory.id})">
        {{ 'map.whereIs' | translate }}
    </a>
    <a class="button button-light icon ion-paper-airplane"
        ng-click="changeRoute(); modal.hide()"
        ui-sref="tabs.map({id: modal.laboratory.id, routingOn: true})" >
        {{ 'map.takeMeAround' | translate }}
    </a>
    <button class="button button-light icon ion-arrow-left-c"
        ng-click="modal.hide()">
        {{ 'back' | translate }}
    </button>
</ion-footer-bar>
