<ion-header-bar class="bar-subheader item-input-inset" title="Servizi">
    <label class="item-input-wrapper">
        <span on-tap="changeRoute()">
            <i class="icon ion-ios7-search placeholder-icon"></i>
        </span>
        <!-- TODO - fix the parameter passed to translate -->
        <input type="search" ips-focus ng-keypress="onKeyPress($event)"
            placeholder="{{ 'search' | translate:{items: 'servizi'} }}"
            ng-model="data.search">
    </label>
    <button ng-if="categories.length > 0"
        ui-sref="tabs.clusteringNoLayers({
            key: '{{ stateParams.key }}',
            search: '{{ stateParams.search }}',
            category: '{{ category.name }}',
        })"
        class="button icon ion-map" >
    </button>
</ion-header-bar>
