<div class="list card">
    <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{ modal.laboratory.telephone }}
    </div>
    <div class="item item-icon-left">
        <i class="icon ion-clock"></i>
        {{ 'hours' | translate }}
    </div>
    <div class="item item-icon-left">
        <i class="icon ion-university"></i>
        {{ modal.laboratory.ente_name }} <br> {{ laboratory.area_name }}
    </div>
    <div class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{ modal.laboratory.address }}
    </div>
    <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{ modal.laboratory.responsabile }}
    </div>
</div>
